/** Add css rules here for your application. */
body{
    font: 400 16px/18px "Roboto";
    color: #384144;
}
h1{
    font-size: 2rem;
    line-height: 2.25rem;
    margin: 0 0 20px 0;
    text-align: center;
}

.w150 {
  width: 150px;
}

/* Style the tab */
div.tab {
    overflow: hidden;
    width: 300px;
    margin: 0 auto;
}

/* Style the buttons inside the tab */
.tablinks {
    background-color: inherit;
    float: left;
    outline: none;
    cursor: pointer;
    padding: 14px 10px;
    transition: 0.3s;
    border: none;
    border-bottom: 1px solid transparent;
    color: #597a8d;
    font-size: 0.875rem;
}

/* Change background color of buttons on hover */
.tablinks:hover {
    color: #384144;
}

/* Create an active/current tablink class */
.tablinks.active {
    border-bottom-color: #3023ae;
    font-weight: 600;
    color: #384144;
}

/* Style the tab content */
.tabcontent {
    display: block;
    border-top: none;
}

.address-element-label {
	width: 150px;
	display:inline-block;
}

.search-field {
    height: 66px;
    min-width: 400px;
    width: 660px;
    margin: 40px auto 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    border: 1px solid #aaa;
    border-radius: 5px;
    position: relative;
    box-sizing: border-box;
}
.search-field.active-select {
    border-radius: 5px 5px 0 0;
    border-bottom-color: transparent;
}
.select2-selection__placeholder {
    transition: all ease-in 250ms;
    font-size: 1.25rem;
    position: absolute;
    top: 20px;
    left: 10px;
    z-index: 5;
}
.active-select .select2-selection__placeholder {
    transform: scale(0.8);
    top: 10px;
    left: -7px;
    opacity: 0.5;
}
.search-field .selection > span{
    z-index: 10;
    height: 66px;
    background: transparent;
}
.search-field .select2-container--default .select2-selection--single{
    outline: none;
    border: none;
}
.search-field .select2-container{
    outline: none;
    height: 100%;
    width: calc(100% + 2px) !important;
    margin-left: -1px;
}
.search-field .select2-selection__arrow{
    display: none;
}
.search-field .select2-container--default .select2-selection--single .select2-selection__placeholder{
    color: #384144;
}
.select2-container--default .select2-search--dropdown .select2-search__field{
    outline: none;
    height: 40px;
    border-radius: 3px;
    position: relative;
    top: -10px;
    width: calc(100% - 6px);
    left: 3px;
    font: 400 1rem/40px "Roboto";
}

.full-address-data{
    margin: 20px auto 0;
    width: 660px;
}
.address-element{
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.address-element-label{
    width: 40%;
    color: #597a8d;
}
.address-element-value{
    width: 55%;
    height: 40px;
    box-sizing: border-box;
    padding: 0 0 0 10px;
    color: #384144;
    font: 400 1rem/40px "Roboto";
}

.extra-data-row{
    height: 50px;
}

.extra-data-name{
    width: 45%;
    color: #597a8d;
}
.extra-data-value{
    width: 55%;
    height: 40px;
    box-sizing: border-box;
    color: #384144;
    font: 400 1rem/40px "Roboto";
}
.address-extra-data h3{
    margin: 20px 0;
}


@media screen and (max-width: 700px) {
    .search-field {
        min-width: initial;
        width: calc(100% - 20px);
    }
    .full-address-data{
        width: calc(100% - 20px);
    }
}
